<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1.0" />
    <title>404</title>

    <!-- 浏览器图标开始 -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- 浏览器图标结束 -->

    <!-- 导入Css文件开始 -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/simple-line-icons/css/simple-line-icons" />
    <link rel="stylesheet" href="/lib/css/style.css">
    <!-- 导入Css文件结束 -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-left display-3 mr-4">404</h1>
                    <h4 class="pt-3">Houston, we have a problem!</h4>
                    <p class="text-muted">The page you are looking for is temporarily unavailable.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 导入Js文件开始 -->
    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- 导入Js文件结束 -->
</body>
</html>