<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1.0" />
    <title>媒体广告后台首页</title>

    <!-- 浏览器图标开始 -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- 浏览器图表结束 -->

    <!-- 导入Css文件开始 -->
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/lib/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="/lib/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <!-- 导入Css文件结束 -->
</head>
<body>

    <!-- 头部开始 -->
    <div th:include="common/header::common"></div>
    <!-- 头部结束 -->

    <!-- 导入Js文件开始 -->
    <script type="text/javascript" src="/lib/jquery/jquery.min.js" />
    <script type="text/javascript" src="/lib/popper/popper.min.js" />
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js" />
    <script type="text/javascript" src="/lib/pace-progress/pace.min.js" />
    <script type="text/javascript" src="/lib/layer/layer.js" />
    <script type="text/javascript" src="/lib/layui/layui.js" />
    <!-- 导入Js文件结束 -->
</body>
</html>